html {
  background-color: gray;
}
body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1500px;
  height: 100vh;
  margin: auto;
  background-color: #C2B2B4;
}

header {
  display: flex;
  background-color: #3E2A35;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  /* font-size: 2.2rem; */
  display: flex;
  margin: 0;
  color: white;
  letter-spacing: 2px;
}

header div {
  width: 25%;
  min-width: 220px;
}

.main-icon {
  width: 60px;
  height: 33px;
}

.search-input {
  border: 2px solid #C2B2B4;
  height: 30px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-input__icon img {
  width: 20px;
  padding: 8px;
  background-color: #C2B2B4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main {
  background-color: #3E2A35;
  text-align: center;
  padding-bottom: 35px;
}

label {
  margin: 10px 0;
  color: #938284;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 630px;
  margin: 0 auto;
}

.form__img-upload {
  width: 1px;
	position: absolute;
	z-index: -1;
}

.form__upload-btn {
  height: 20px;
  text-align: center;
  background-color: #5B4447;
  padding: 10px;
  margin: 35px 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

button {
  height: 40px;
  font-size: .9rem;
  color: #fff;
  border: 0;
  background-color: #5B4447;
  font-weight: 300;
  width: 45%;
}

button:active,
button:focus,
button.active {
  background-image: none;
  outline: 0;
}

.hover-state:hover {
  background-color: #938284;
  cursor: pointer;
}

.photo-icons {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin: 7px 10px;
}

label {
  text-align: left;
}

input {
  height: 40px;
  font-size: 1.2rem;
  border: 0;
}

div {
  display: flex;
  justify-content: space-between;
}

.photo-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  grid-column-gap: 3%;
  margin: auto;
  color: #3E2A35;
}

section {
  background-color: #C2B2B4;
  padding: 25px;
}

.img-container {
  position: relative;
}

.img-container img{
  width: 270px;
  height: 180px;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.img-container:hover {
  color: white;
}

.edit-img-indicator {
  color: white;
  font-size: .8rem;
  position: absolute;
  bottom: 2%;
  left: 33%;
}

article {
  margin: auto;
  background-color: #fff;
  margin: 15px;
  width: 270px;
  border: 2px solid #938284;
  position: relative;
  padding-bottom: 50px;
}

article p {
  word-wrap: break-word;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
}

.no-margin-top {
  padding-top: 0;
}

.trash-fav-icon-container {
  background-color: #5B4447;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.show-more-btn {
  display: none;
  margin: auto;
  width: 100%;
}

.gray-txt {
  color: darkgray;
}

.animate-heart:hover {
  animation: heart-beat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes heart-beat {
  0% {width: 35px}
  50% {width: 25px}
  100% {width: 35px}
}

.no-result-error {
  margin: 25px auto;
  text-align: center;
  width: 300px; 
  color: lightgray;
  font-size: 1.5rem;
  display: none;
}

.no-image-error {
  color: lightgray;
  font-size: 3rem;
  margin: 25px auto;
  text-align: center;
  display: none;
}

.pickle-rick {
  position: absolute;
  top: 100px;
  width: 20%;
  z-index: 2;
  animation: pickle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  display: none;
}

@keyframes pickle {
  0% {transform: rotate(0deg); left: 0px; top: 100px;}
  25% {transform: rotate(360deg); top: 0px; left: 70%;}
  50% {transform: rotate(0deg); top: 0px; top: 80%;}
  75% {transform: rotate(90deg); right: 0; right: 80%; width: 40%}
  100% {transform: rotate(-45deg);left: 0px; top: 100px; width: 70%}
}

@media screen and (max-width: 700px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px; 
  }

  header div {
    width: 94%;
  }

  h1 {
    margin: 0 40px 20px 40px;
  }

  form {
    width: 90%;
    min-width: 290px;
  }

  .search-input {
    width: 100%;
  }
}